<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>gulp-velocity example page</title>
</head>
<body>
<h1>欢迎您学习velocity demo!</h1>

<h2>loop</h2> 
#parse('./direc/loop.vm')

<h2>include</h2> 
#include('./static/plain-text.txt','./static/more_include.txt')

<h2>comment</h2> 
## comment
#* block comment *#
#[[ unparsed content ]]#

<h1>祝贺你结束学习velocity demo!</h1> 
</body>
</html>
